{% extends 'menu.html' %}
{% load static %}
{% block title %}Carrito{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
<section class="container my-5 text-white">
  <h2 class="mb-4 text-center" id="titulo-carrito"></h2>

  <div class="row g-4">
    <!-- Productos -->
    <div class="col-12 col-lg-8"  id="contenedor-productos">
     
    </div>

    <!-- Resumen -->
    <div class="col-12 col-lg-4" id="resumen-total" style="display: none;">
      <div class="card shadow-sm border-0" style="position: sticky; top: 20px;">
        <div class="card-body">
          <h5 class="card-title text-center">Resumen</h5>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between border-0 border-bottom">
              <span>Total</span>
              <strong id="resumen-subtotal">${{ subtotal }}</strong>
            </li>
          </ul>
          <div class="d-grid gap-2">
            <button class="btn btn-dark">Finalizar compra</button>
            <a href="{% url 'vista_inicio_cliente' %}" class="btn btn-ms text-white" style="background: #6C2DC7;">Seguir comprando</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/productos.carrito.js'%}"></script>
{% endblock %}
