{% extends 'menu.html' %}
{% load static %}
{% block title %}Carrito{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/carrito.css' %}">
<section class="container my-5 text-white">
  <h2 class="mb-4 text-center" id="titulo-carrito"></h2>

  <div class="row g-4">
    <!-- Productos -->
    <div class="col-12 col-lg-8"  id="contenedor-productos">
     
    </div>

    <!-- Resumen -->
    <div class="col-12 col-lg-4" id="resumen-total" style="display: none;">
      <div class="card shadow-sm border-0" style="position: sticky; top: 20px;">
        <div class="card-body">
          <h5 class="card-title text-center">Resumen</h5>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between border-0 border-bottom">
              <span>Total</span>
              <strong id="resumen-subtotal">${{ subtotal }}</strong>
            </li>
          </ul>
          <div class="d-grid gap-2">
            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalFinalizarCompra">Finalizar compra</button>
            <a href="{% url 'vista_inicio_cliente' %}" class="btn btn-ms text-white" style="background: #6C2DC7;">Seguir comprando</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalFinalizarCompra" tabindex="-1" aria-labelledby="modalFinalizarCompraLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 rounded-4 shadow-lg">
      <div class="modal-header bg-dark text-white rounded-top-4">
        <h5 class="modal-title" id="modalFinalizarCompraLabel">Confirmar compra</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>

      <div class="modal-body text-center p-4">
        <form id="formFinalizarCompra" method="POST" action="{% url 'RealizarCompra' %}">{% csrf_token %}

          <p class="mb-3"><strong>¿Estás seguro de que deseas finalizar la compra?</strong></p>
          <p class="mb-4"><strong>Total a pagar: </strong> <strong id="modal-total">$0.00</strong></p>

          <input type="hidden" name="txtCorreo" value="{{request.session.correo_cliente}}">
          <input type="hidden" name="txtTotal" id="txtTotal" value="">

          <div class="d-flex justify-content-center gap-3">
            <button type="submit" class="btn text-white" style="background: #6C2DC7;">Confirmar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btn-cancelar-compra">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="{% static 'js/productos.carrito.js'%}"></script>
{% endblock %}
