{% extends 'menu.html' %}
{% block title %} Gestionar Productos {% endblock %}

{% block content %}

<!-- Estilo para DataTables y Modales -->
<style>
    #tabla-productos_wrapper .dataTables_length label,
    #tabla-productos_wrapper .dataTables_filter label {
        color: white;
    }

    #tabla-productos_wrapper .dataTables_filter input {
        color: black;
        background-color: white;
    }

    #tabla-productos_wrapper .dataTables_length select {
        color: black;
        background-color: white;
    }

    #modalVerProducto .modal-content,
    #modalEditarProducto .modal-content,
    #modalConfirmarEdicion .modal-content {
        background-color: white;
        color: black;
        border: 1px solid #ddd;
    }

    .btn-close-white {
        filter: none;
    }
</style>

<section class="container my-5 text-white">
    <h2 class="mb-4 text-center">Gestionar Productos</h2>

    <div class="card bg-dark border-0">
        <div class="card-body">

            <div class="d-flex justify-content-end mb-3">
                <a href="{% url 'insertar_producto' %}" 
                   class="btn" 
                   style="background-color: #6C2DC7; color: white;">
                    <i class="bi bi-plus-circle me-1"></i> Agregar Producto
                </a>
            </div>

            <div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="modal fade" id="modalExito" tabindex="-1" aria-labelledby="modalExitoLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content bg-dark text-white">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalExitoLabel">Registro Exitoso</h5>
                              </div>
                              <div class="modal-body">
                                {{ message }}
                              </div>
                              <div class="modal-footer">
                                <a href="{% url 'listar_producto' %}" class="btn btn-primary" style="background-color: #6C2DC7; border: #6C2DC7;">Aceptar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% else %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-3" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="table-responsive">
                <table id="tabla-productos" class="table table-striped table-bordered bg-white text-dark">
                    <thead class="table-secondary text-dark">
                        <tr>
                            <th style="width: 5%; text-align: center;">#</th>
                            <th style="width: 20%; text-align: center;">Nombre</th>
                            <th style="width: 15%; text-align: center;">Categoría</th>
                            <th style="width: 20%; text-align: center;">Tipo</th>
                            <th style="width: 10%; text-align: center;">Precio</th>
                            <th style="width: 10%; text-align: center;">Existencia</th>
                            <th style="width: 20%; text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td class="text-center">{{ producto.id_producto }}</td>
                            <td class="text-center">{{ producto.nombre_producto }}</td>
                            <td class="text-center">{{ producto.nombre_categoria }}</td>
                            <td class="text-center">{{ producto.tipo_producto }}</td>
                            <td class="text-center">${{ producto.precio_producto }}</td>
                            <td class="text-center">{{ producto.existencia_producto }}</td>
                            <td class="text-center">
                                <!-- Ver -->
                                <a href="#" 
                                   class="btn btn-sm bg-dark text-white me-1 ver-producto-btn"
                                   data-id="{{ producto.id_producto }}"
                                   data-nombre="{{ producto.nombre_producto }}"
                                   data-idcategoria="{{ producto.id_categoria }}"
                                   data-categoria="{{ producto.nombre_categoria }}"
                                   data-tipo="{{ producto.tipo_producto_val }}"
                                   data-tipo_nombre="{{ producto.tipo_producto }}"
                                   data-descripcion="{{ producto.descripcion_producto }}"
                                   data-cantmax="{{ producto.cantidad_maxima }}"
                                   data-cantmin="{{ producto.cantidad_minima }}"
                                   data-precio="{{ producto.precio_producto }}"
                                   data-existencia="{{ producto.existencia_producto }}"
                                   data-activo="{{ producto.producto_activo }}"
                                   data-imagen="{{ producto.imagen_producto }}"
                                   title="Ver">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                                <!-- Editar -->
                                <a href="#" 
                                   class="btn btn-sm bg-dark text-white me-1 editar-producto-btn"
                                   data-id="{{ producto.id_producto }}"
                                   data-nombre="{{ producto.nombre_producto }}"
                                   data-idcategoria="{{ producto.id_categoria }}"
                                   data-categoria="{{ producto.nombre_categoria }}"
                                   data-tipo="{{ producto.tipo_producto_val }}"
                                   data-tipo_nombre="{{ producto.tipo_producto }}"
                                   data-descripcion="{{ producto.descripcion_producto }}"
                                   data-cantmax="{{ producto.cantidad_maxima }}"
                                   data-cantmin="{{ producto.cantidad_minima }}"
                                   data-precio="{{ producto.precio_producto }}"
                                   data-existencia="{{ producto.existencia_producto }}"
                                   data-activo="{{ producto.producto_activo }}"
                                   data-imagen="{{ producto.imagen_producto }}"
                                   title="Editar">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <!-- Eliminar -->
                                {% if producto.producto_activo %}
                                        <a href="#" class="btn btn-sm btn-danger cambiar-estado-btn" 
                                            data-id="{{ producto.id_producto }}" 
                                            data-accion="desactivar"
                                            data-nombre="{{ producto.nombre_producto }}"
                                            title="Desactivar">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                    {% else %}
                                        <!-- Si está inactivo → botón activar -->
                                        <a href="#" class="btn btn-sm btn-success cambiar-estado-btn" 
                                        data-id="{{ producto.id_producto }}" 
                                        data-accion="activar"
                                        data-nombre="{{ producto.nombre_producto }}"
                                        title="Activar">
                                            <i class="bi bi-arrow-clockwise"></i>
                                        </a>
                                    {% endif %}

                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No hay productos registrados.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>
<!-- MODAL CAMBIAR ESTADO -->
<div class="modal fade" id="modalConfirmarEstado" tabindex="-1" aria-labelledby="modalConfirmarEstadoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmarEstadoLabel">Confirmar Acción</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <p id="texto-confirmar-estado"></p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'cambiar_estado_producto' %}">
                    {% csrf_token %}
                    <input type="hidden" name="id_producto" id="estado-id-producto">
                    <input type="hidden" name="accion" id="estado-accion">
                    <button type="submit" class="btn" style="background-color: #6C2DC7; color: white;">Confirmar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="border: red; background-color: red;">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODAL VER PRODUCTO -->
<div class="modal fade" id="modalVerProducto" tabindex="-1" aria-labelledby="modalVerProductoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerProductoLabel">Ver Producto</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="row gy-4">
                    <div class="col-12 col-md-4 text-center">
                        <img id="ver-imagen-producto" 
                             src="https://cdn-icons-png.flaticon.com/512/6491/6491233.png" 
                             alt="Imagen Producto" 
                             class="rounded img-thumbnail mb-3" 
                             style="width: 250px; height: auto;">

                              <div class="mb-3 mt-3">
                                <label class="form-label">Estado:</label>
                                <p id="ver-estado-producto" class="fw-bold"></p>
                            </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="mb-3">
                            <label class="form-label">Nombre del Producto:</label>
                            <input type="text" class="form-control" id="ver-nombre-producto" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Categoría:</label>
                            <input type="text" class="form-control" id="ver-categoria-producto" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tipo:</label>
                            <input type="text" class="form-control" id="ver-tipo-producto" readonly>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Descripción:</label>
                            <textarea class="form-control" id="ver-descripcion-producto" rows="2" readonly></textarea>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Cantidad Máxima:</label>
                                <input type="text" class="form-control" id="ver-cantidad-maxima" readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Cantidad Mínima:</label>
                                <input type="text" class="form-control" id="ver-cantidad-minima" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Precio:</label>
                                <input type="text" class="form-control" id="ver-precio-producto" readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Existencia Actual:</label>
                                <input type="text" class="form-control" id="ver-existencia-producto" readonly>
                            </div>
                        </div>
                       

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: #6C2DC7; color: white; border: #6C2DC7;" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL EDITAR PRODUCTO -->
<div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="modalEditarProductoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form method="post" action="{% url 'editar_producto' %}" id="formEditarProducto" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id_producto" id="editar-id-producto">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarProductoLabel">Editar Producto</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
    <div class="row gy-4">

        <!-- Columna izquierda: imagen -->
        <div class="col-12 col-md-4 text-center">
            <img id="editar-imagen-preview" 
                src="https://cdn-icons-png.flaticon.com/512/6491/6491233.png" 
                alt="Imagen Producto" 
                class="rounded img-thumbnail mb-3" 
                style="width: 250px; height: auto;">

            <!-- Aquí mantenemos el campo oculto para el enlace actual -->
            <input type="hidden" id="editar-imagen-url" name="imagen_url">

            <!-- Input para subir nueva imagen -->
            <input type="file" class="form-control form-control-sm mt-2" id="editar-imagen-producto" name="imagen_producto" accept="image/*">
            <div id="error-editar-imagen" class="text-danger mt-2"></div>
        </div>

        <!-- Columna derecha: campos -->
        <div class="col-12 col-md-8">
            <div class="mb-3">
                <label class="form-label">Nombre del Producto:</label>
                <input type="text" class="form-control" name="nombre_producto" id="editar-nombre-producto" required>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Categoría:</label>
                    <select class="form-select" name="id_categoria" id="editar-categoria-producto" required>
                        <option value="">Seleccione Categoría</option>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id_categoria }}">{{ categoria.nombre_categoria }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Tipo:</label>
                    <select class="form-select" name="tipo_producto" id="editar-tipo-producto" required>
                        <option value="">Seleccione Tipo</option>
                        <option value="1">Arreglos Mixto</option>
                        <option value="2">Flores</option>
                        <option value="3">Arreglos Flores</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción:</label>
                <textarea class="form-control" name="descripcion_producto" id="editar-descripcion-producto" rows="2" required></textarea>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Cantidad Máxima:</label>
                    <input type="number" class="form-control" name="cantidad_maxima" id="editar-cantidad-maxima" min="1" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Cantidad Mínima:</label>
                    <input type="number" class="form-control" name="cantidad_minima" id="editar-cantidad-minima" min="0" required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Precio:</label>
                    <input type="number" class="form-control" name="precio_producto" id="editar-precio-producto" step="0.01" min="0" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Existencia Actual:</label>
                    <input type="number" class="form-control" name="existencia_producto" id="editar-existencia-producto" min="0" required>
                </div>
            </div>
        </div>
    </div>
</div>

                <div class="modal-footer">
                    <button type="button" class="btn" id="btnAbrirConfirmar" style="background-color: #6C2DC7; color: white; border: #6C2DC7;">Guardar Cambios</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="border: red; background-color: red;">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL CONFIRMAR EDICIÓN -->
<div class="modal fade" id="modalConfirmarEdicion" tabindex="-1" aria-labelledby="modalConfirmarEdicionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmarEdicionLabel">Confirmar Edición</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <p>¿Está seguro que desea editar este producto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" style="background-color: #6C2DC7; color: white; border: #6C2DC7;" id="btnConfirmarGuardar">Confirmar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-target="#modalEditarProducto" data-bs-toggle="modal" style="border: red; background-color: red;">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Scripts DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
$(document).ready(function() {

    // DATATABLE
    $('#tabla-productos').DataTable({
        language: {
            "decimal": "",
            "emptyTable": "No hay datos disponibles en la tabla",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando 0 a 0 de 0 registros",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "lengthMenu": "Mostrar _MENU_ registros",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "No se encontraron registros coincidentes",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        order: [[0, 'asc']], 
        dom: '<"d-flex justify-content-between align-items-center mb-3"lf>rt<"d-flex justify-content-between align-items-center mt-3"ip>'
    });

    // MOSTRAR MODAL ÉXITO
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                var myModal = new bootstrap.Modal(document.getElementById('modalExito'), {});
                myModal.show();
            {% endif %}
        {% endfor %}
    {% endif %}

    // VER PRODUCTO
    $(document).on('click', '.ver-producto-btn', function() {
        $('#ver-nombre-producto').val($(this).data('nombre'));
        $('#ver-categoria-producto').val($(this).data('categoria'));
        $('#ver-tipo-producto').val($(this).data('tipo_nombre'));
        $('#ver-descripcion-producto').val($(this).data('descripcion'));
        $('#ver-cantidad-maxima').val($(this).data('cantmax'));
        $('#ver-cantidad-minima').val($(this).data('cantmin'));
        $('#ver-precio-producto').val($(this).data('precio'));
        $('#ver-existencia-producto').val($(this).data('existencia'));
       let activo = $(this).data('activo');
        if (activo == true || activo == 'True' || activo == 1 || activo == '1') {
            $('#ver-estado-producto').html('<span class="text-success fw-bold">Producto Activo</span>');
        } else {
            $('#ver-estado-producto').html('<span class="text-danger fw-bold">Producto Inactivo</span>');
        }


        $('#ver-imagen-producto').attr('src', $(this).data('imagen'));
        var modal = new bootstrap.Modal(document.getElementById('modalVerProducto'));
        modal.show();
    });

    // EDITAR PRODUCTO
    $(document).on('click', '.editar-producto-btn', function() {
        $('#editar-id-producto').val($(this).data('id'));
        $('#editar-nombre-producto').val($(this).data('nombre'));
        $('#editar-categoria-producto').val($(this).data('idcategoria'));
        $('#editar-tipo-producto').val($(this).data('tipo'));
        $('#editar-descripcion-producto').val($(this).data('descripcion'));
        $('#editar-cantidad-maxima').val($(this).data('cantmax'));
        $('#editar-cantidad-minima').val($(this).data('cantmin'));
        $('#editar-precio-producto').val($(this).data('precio'));
        $('#editar-existencia-producto').val($(this).data('existencia'));
        $('#editar-producto-activo').prop('checked', $(this).data('activo'));
        $('#editar-imagen-preview').attr('src', $(this).data('imagen'));
        $('#editar-imagen-url').val($(this).data('imagen')); // Guarda la URL actual en campo oculto
        var modal = new bootstrap.Modal(document.getElementById('modalEditarProducto'));
        modal.show();
    });
    $(document).on('click', '.cambiar-estado-btn', function() {
    let id = $(this).data('id');
    let accion = $(this).data('accion');
    let nombre = $(this).data('nombre');

    $('#estado-id-producto').val(id);
    $('#estado-accion').val(accion);

    if (accion == 'activar') {
        $('#texto-confirmar-estado').html('¿Está seguro que desea <strong style="color: green;">activar</strong> el producto <strong>"' + nombre + '"</strong>?');
    } else {
        $('#texto-confirmar-estado').html('¿Está seguro que desea <strong style="color: red;">desactivar</strong> el producto <strong>"' + nombre + '"</strong>?');
    }

    var modalEstado = new bootstrap.Modal(document.getElementById('modalConfirmarEstado'));
    modalEstado.show();
});


    // PREVIEW imagen al cambiar URL en campo imagen en Editar
    $('#editar-imagen-producto').on('input', function() {
        let url = $(this).val();
        $('#editar-imagen-preview').attr('src', url);
    });

 
$('#btnAbrirConfirmar').on('click', function() {
    const form = document.getElementById('formEditarProducto');

    // Validación HTML5
    if (!form.checkValidity()) {
        form.reportValidity();
        return;
    }

    // Verificar si hubo cambios:
    let cambios = false;

    // Revisamos campos texto/select/number
    if ($('#editar-nombre-producto').val() !== $('#editar-nombre-producto').attr('data-original')) cambios = true;
    if ($('#editar-categoria-producto').val() !== $('#editar-categoria-producto').attr('data-original')) cambios = true;
    if ($('#editar-tipo-producto').val() !== $('#editar-tipo-producto').attr('data-original')) cambios = true;
    if ($('#editar-descripcion-producto').val() !== $('#editar-descripcion-producto').attr('data-original')) cambios = true;
    if ($('#editar-cantidad-maxima').val() !== $('#editar-cantidad-maxima').attr('data-original')) cambios = true;
    if ($('#editar-cantidad-minima').val() !== $('#editar-cantidad-minima').attr('data-original')) cambios = true;
    if ($('#editar-precio-producto').val() !== $('#editar-precio-producto').attr('data-original')) cambios = true;
    if ($('#editar-existencia-producto').val() !== $('#editar-existencia-producto').attr('data-original')) cambios = true;

    // Verificamos si cambió la imagen URL
    if ($('#editar-imagen-url').val() !== $('#editar-imagen-url').attr('data-original')) cambios = true;

    // Si se subió un archivo en el input file
    if ($('#editar-imagen-producto')[0].files.length > 0) cambios = true;

    if (cambios) {
        // Cerrar el modal Editar
        var modalEditar = bootstrap.Modal.getInstance(document.getElementById('modalEditarProducto'));
        modalEditar.hide();

        // Abrir modal Confirmar
        var modalConfirmar = new bootstrap.Modal(document.getElementById('modalConfirmarEdicion'));
        modalConfirmar.show();
    } else {
        console.log("No se hicieron cambios, no se muestra modal Confirmar.");
    }
});


$('#btnConfirmarGuardar').click(function() {
    $('#formEditarProducto').submit();
});

// Validar y previsualizar imagen en Editar Producto
$('#editar-imagen-producto').on('change', function() {
    const file = this.files[0];
    const preview = $('#editar-imagen-preview');
    const errorDiv = $('#error-editar-imagen');
    errorDiv.text(''); // limpiar errores

    if (file) {
        const allowedTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/webp', 'image/jpg'];

        if (!allowedTypes.includes(file.type)) {
            errorDiv.text('Solo se permiten imágenes (JPG, PNG, GIF, WEBP).');
            this.value = ''; // limpiar input file
            preview.attr('src', $('#editar-imagen-url').val()); // restaurar imagen actual
            return;
        }

        const reader = new FileReader();
        reader.onload = function(e) {
            preview.attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    }
});



});

</script>

{% endblock %}
