{% extends 'menuAdministrador.html' %}
{% load static %}
{% block title %} Productos {% endblock %}

{% block content %}
<!--DataTables-->
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.5/css/responsive.bootstrap5.css">
<link rel="stylesheet" href="{% static 'css/tablaCliente.css'%}">

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-white">Gestionar Productos</h2>
    <a href="{% url 'vista_agregar_producto' %}" class="btn btn-success">
      <i class="bi bi-plus-circle me-1"></i> Agregar Producto
    </a>
  </div>

  <div class="table-responsive bg-white p-3 rounded shadow mb-2">
    <table id="tabla-producto" class="table table-striped table-bordered bg-white text-dark responsive">
      <thead class="table-light">
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Categoría</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Existencia</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td class="text-center align-middle">
              <span>{{ producto.nombre_producto }}</span>
          </td>
          <td class="text-center align-middle truncable">
            <span class="correo-auto-truncado" title="{{ producto.id_categoria.nombre_categoria }}">
              {{ producto.id_categoria.nombre_categoria }}
            </span>
          </td>
          <td class="text-center align-middle">{{ producto.get_tipo_producto_display }}</td>
          <td class="text-center align-middle">${{ producto.precio_producto }}</td>
          <td class="text-center align-middle">{{ producto.existencia_producto }}</td>
          <td class="text-center align-middle">
            <span class="badge {% if producto.producto_activo %}bg-success{% else %}bg-danger{% endif %}">
              {% if producto.producto_activo %}Activo{% else %}Inactivo{% endif %}
            </span>
          </td>
          <td class="text-center align-middle">
            <button type="button" 
                    class="btn btn-sm text-white me-1 btn-ver-producto" 
                    title="Ver Producto" 
                    style="background: #6C2DC7;"
                    data-bs-toggle="modal"
                    data-bs-target="#modalVerProducto"
                    data-nombre="{{producto.nombre_producto}}"
                    data-descripcion="{{producto.descripcion_producto}}"
                    data-categoria="{{producto.id_categoria.nombre_categoria}}"
                    data-cantidad-maxima="{{producto.cantidad_maxima}}"
                    data-cantidad-minima="{{producto.cantidad_minima}}"
                    data-precio="{{producto.cantidad_minima}}"
                    data-tipo="{{producto.get_tipo_producto_display}}"
                    data-estado="{{producto.producto_activo}}"
                    data-imagen="{% if producto.imagen_producto %}{{ producto.imagen_producto.url }}{% else %}{% static 'img/producto-default.png' %}{% endif %}">
              <i class="bi bi-eye-fill"></i>
            </button>
            <a href="{% url 'vista_actualizar_producto' producto.id_producto %}" class="btn btn-sm bg-dark text-white me-1" title="Editar Producto">
              <i class="bi bi-pencil-square"></i>
            </a>

            {% if producto.producto_activo %}
            <a href="#" class="btn btn-sm btn-danger btn-toggle-estado-cliente" title="Desactivar"
              data-id="{{usuario.id_usuario}}"
              data-nombre="{{usuario.nombre_usuario}} {{usuario.apellido_usuario}}"
              data-estado="desactivar"
              data-bs-toggle="modal"
              data-bs-target="#modalEstadoCliente">
              <i class="bi bi-trash-fill"></i>
            </a>
            {% else %}
            <a href="#" class="btn btn-sm btn-success btn-toggle-estado-cliente" title="Activar"
              data-id="{{usuario.id_usuario}}"
              data-nombre="{{usuario.nombre_usuario}} {{usuario.apellido_usuario}}"
              data-estado="activar"
              data-bs-toggle="modal"
              data-bs-target="#modalEstadoCliente">
              <i class="bi bi-arrow-repeat"></i>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<!-- Modal de Éxito -->
      <div class="modal fade" id="modalCreadoExitoProducto" tabindex="-1" aria-labelledby="modalCreadoExitoProductoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 class="modal-title text-white">
                <i class="bi bi-info-circle me-2"></i>
                <span>Producto creado</span>
              </h5>

              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-dark">
              <p class="fs-5 mb-0 ">Producto creado exitosamente.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn text-white" style="background-color:#6C2DC7;"  data-bs-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>



      <!-- Modal Ver Producto -->
<div class="modal fade" id="modalVerProducto" tabindex="-1" aria-labelledby="modalVerProductoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      
      <!-- Encabezado -->
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="modalVerProductoLabel">Información del Producto</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      
      <!-- Cuerpo -->
      <div class="modal-body">
        <div class="row align-items-center">
          
          <!-- Columna imagen -->
          <div class="col-md-4 text-center mb-3 mb-md-0">
            <img id="modal-imagen-producto" src="" alt="Imagen del Producto" 
                 class="rounded shadow" 
                 style="width: 200px; height: 200px; object-fit: cover;">
          </div>
          
          <!-- Columna información -->
          <div class="col-md-8">
            <p class="mb-1"><strong>Categoría:</strong> <span id="modal-categoria"></span></p>
            <p class="mb-1"><strong>Nombre:</strong> <span id="modal-nombre-producto"></span></p>
            <p class="mb-1"><strong>Descripción:</strong> <span id="modal-descripcion"></span></p>
            <p class="mb-1"><strong>Cantidad Máxima:</strong> <span id="modal-cantidad-maxima"></span></p>
            <p class="mb-1"><strong>Cantidad Mínima:</strong> <span id="modal-cantidad-minima"></span></p>
            <p class="mb-1"><strong>Precio:</strong> $<span id="modal-precio"></span></p>
            <p class="mb-1"><strong>Tipo de Producto:</strong> <span id="modal-tipo-producto"></span></p>
            <p class="mb-0"><strong>Estado:</strong> <span id="modal-estado-producto" class="fw-bold"></span></p>
          </div>

        </div>
      </div>
      
      <!-- Pie -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
           Cerrar
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Modal de Éxito - Edición de Producto -->
<div class="modal fade" id="modalEditadoProducto" tabindex="-1" aria-labelledby="modalEditadoProductoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title text-white">
          <i class="bi bi-pencil-square me-2 "></i>
          <span>Producto actualizado</span>
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-dark">
        <p class="fs-5 mb-0">Los datos del producto han sido actualizados exitosamente.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn text-white" style="background-color:#6C2DC7;" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

   <!-- Modal Confirmar Activar/Desactivar -->
<div class="modal fade" id="modalEstadoCliente" tabindex="-1" aria-labelledby="modalEstadoClienteLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="POST" action="{% url 'cambiar_estado_cliente' %}">
        {% csrf_token %}
        <div class="modal-header bg-dark text-white">
          <h5 class="modal-title" id="modalEstadoClienteLabel">Confirmar acción</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <p id="modal-mensaje-estado" class="fs-5"></p>
          <div id="modal-nota-estado" class="mt-3"></div>

          <input type="hidden" name="id_usuario" id="modal-id-usuario" value="">
          <input type="hidden" name="accion" id="modal-accion-usuario" value="">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn text-white" id="modal-btn-accion" style="background-color: #6C2DC7;">Confirmar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--DataTables-->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.3.2/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.5/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.5/js/responsive.bootstrap5.js"></script>
<script src="{% static 'js/dataTableProducto.js'%}"></script>
<script src="{% static 'js/modal_ver_producto.js'%}"></script>
<script src="{% static 'js/modal_borrar_activar_cliente.js'%}"></script>
{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' and message.message == 'editado' %}
    <script src="{% static 'js/modal_editado_producto.js' %}"></script>
    {% elif message.tags == 'success' and message.message == 'creado' %}
    <script src="{% static 'js/modal_exito_producto.js' %}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% endblock %}
