{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="max-width: 400px; width: 100%; border-radius: 12px;">
            <h3 class="text-center mb-4">Recuperar Contraseña</h3>
            <p class="text-center mb-4 text-dark">Ingrese su correo y le enviaremos un enlace para restablecer su contraseña.</p>
            
            <form method="post" action="{% url 'CorreoRecuperacion' %}" id="form-recuperar-password">{% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" value="{{correo}}" class="form-control {% if error_usuario %}is-invalid{% endif %} {% if enviado %}is-valid{% endif %}" id="email" name="txtCorreoUsuario" placeholder="Ingrese su correo" required>
                    {% if error_usuario %}
                    <div class="invalid-feedback">Usuario No Existente</div>
                    {% endif %}
                    {% if enviado %}
                    <div class="valid-feedback">!Correo Enviado, Con Exito!</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn w-100 text-white rounded-pill" style="background-color: #6C2DC7;" {% if enviado %} disabled {% endif %}>Enviar enlace</button>
            </form>

           <div class="text-center mt-3">
                <a href="{% url 'vista_login' %}" class="text-decoration-none fw-bold" style="color: #000000;">Volver a Iniciar Sesión</a>
            </div>
        </div>
    </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/campos_vacios.js' %}"></script>
</body>
</html>
