{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="max-width: 400px; width: 100%; border-radius: 12px;">
            <h3 class="text-center mb-4">Recuperar Contraseña</h3>
            <p class="text-center mb-4 text-dark">Ingrese su correo y le enviaremos un enlace para restablecer su contraseña.</p>
            
            <form method="post" action="{% url 'CorreoRecuperacion' %}" id="form-recuperar-password">{% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input type="email" value="{{correo}}" 
                    class="form-control 
                    {% if error_usuario %}is-invalid{% endif %} " 
                    id="email" name="txtCorreoUsuario" placeholder="Ingrese su correo" required>
                    {% if error_usuario %}
                    <div class="invalid-feedback">Usuario No Existente</div>
                    {% endif %}
                </div>
                <button type="submit" id="btnEnviar" class="btn w-100 text-white rounded-pill" style="background-color: #6C2DC7;">Enviar enlace</button>
            </form>
           <div class="text-center mt-3">
                <a href="{% url 'vista_login' %}" class="text-decoration-none fw-bold" style="color: #000000;">Volver a Iniciar Sesión</a>
            </div>
        </div>
    </div>

    {% if messages %}
      {% for message in messages %}
      <!-- Modal de Éxito -->
      <div class="modal fade" id="modalEnviadoExito" tabindex="-1" aria-labelledby="modalEnviadoExitoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white">
              <h5 class="modal-title text-white">
                <i class="bi bi-info-circle me-2"></i>
                <span>Correo Enviando</span>
              </h5>

              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-dark">
              <p class="fs-5 mb-0 ">Correo Enviado Exitosamente.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn text-white" style="background-color:#6C2DC7;"  data-bs-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/campos_vacios.js' %}"></script>
  <script src="{% static 'js/carga_btn_recuperar_password.js' %}"></script>

  {% if messages %}
    {% for message in messages %}
        <script src="{% static 'js/recuperar_password.js' %}"></script>
    {% endfor %}
  {% endif %}

</body>
</html>
